<h2><%= interest.title %></h2>
<div class="row">
  <div class="col-md-8">
    <p>
      <%= interest.description %>
    </p>
    <p>
      This <strong>interest</strong> is by <strong><%= interest.prospect %></strong>
    <p>
    <p>
      <span id="votes"><%= interest.karmas && interest.karmas.length || 0 %></span> Votes
    <p>
    <% if (interest.contribs) { %>
    <p>
      <h3>This interest got responses:</h3>
      <ul class="response-list">
      <% for (var i = 0, ii = interest.contribs.length; i < ii; i++) { %>
        <% var linktitle = interest.contribs[i].title + ' by ' + interest.contribs[i].contributor; %>
        <li><%- linkTo(linktitle, contribPath(interest.contribs[i].id)); %></li>
      <% } %>
      </ul>
    </p>
    <% } %>
  </div>
  <%= partial('shared/_votes', {params: {id : interest.id, type: 'interest', hasVoted: hasVoted}}); %>
  <div class="col-md-4 pad-top-10">
    <form id="form-respond" action="/contribs/add" method="GET">
      <button type="submit" class="btn btn-primary btn-lg btn-block vote-responses-link">respond with a talk</button>
      <input type="hidden" name="interest_id" value="<%= interest.id %>" />
    </form>
  </div>
</div>
