<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', contrib.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="contributor" class="control-label">contributor</label>
  <div class="controls">
    <%- contentTag('input', contrib.contributor, {type:'text', class:'span6', name:'contributor'}) %>
  </div>
</div>
<div class="control-group">
  <label for="shortDescription" class="control-label">shortDescription</label>
  <div class="controls">
    <%- contentTag('textarea', contrib.shortDescription, {class: 'span6', name: 'shortDescription', rows: 10}) %>
  </div>
</div>
<div class="control-group">
  <label for="description" class="control-label">description</label>
  <div class="controls">
    <%- contentTag('textarea', contrib.description, {class: 'span6', name: 'description', rows: 10}) %>
  </div>
</div>
<div class="control-group">
  <label for="language" class="control-label">language</label>
  <div class="controls">
    <%- contentTag('input', contrib.language, {type:'text', class:'span6', name:'language'}) %>
  </div>
</div>
