<h2><%= contrib.title %></h2>
<div class="row">
  <div class="col-md-8">
    <p>
      <%= contrib.description %>
    </p>
    <p>
      This <strong>contribution</strong> is by <strong><%= contrib.contributor %></strong>
    <p>
    <p>
      <span id="votes"><%= contrib.karmas && contrib.karmas.length || 0 %></span> Votes
    <p>
    <% if (contrib.interest) { %>
    <p class="response-info">
      This is a response to the request
      <% var linktitle = contrib.interest.title + ' from ' + contrib.interest.prospect; %>
      <%- linkTo(linktitle, interestPath(contrib.interest.id), {class: 'response-link'}); %>
    </p>
    <% } %>
  </div>
  <% if (showTweetButton) { %>
  <div class="col-md-4 pad-top-10">
    <a href="http://twitter.com/home?status=<%= getTweetText(contrib.id); %>" target="_blank" id="tweet-contrib" type="submit" class="btn btn-primary btn-lg btn-block vote-responses-link">
      <i class="icon-twitter" ></i>Tweet about your talk
    </a>
  </div>
  <% } %>
</div>
