<h2><%= contrib.title %></h2>
<div class="row">
  <div class="col-md-8">
    <p>
      <%= contrib.description %>
    </p>
    <p>
      This <strong>contribution</strong> is by <strong><%= contrib.contributor %></strong>
    <p>
    <p>
      <span id="votes"><%= contrib.karmas && contrib.karmas.length || 0 %></span> Votes
    <p>
    <% if (contrib.interest) { %>
    <p>
      This is a response to the request
      <% var linktitle = contrib.interest.title + ' from ' + contrib.interest.prospect; %>
      <%- linkTo(linktitle, interestPath(contrib.interest.id)); %>
    </p>
    <% } %>
  </div>
  <%= partial('shared/_votes', {params: {id : contrib.id, type: 'contrib'}}) %>
</div>
