<%= partial('layout_header'); %>
  <body>
    <div class="wrapper">
      <header class="site">
        <a href="/">
          <div class="container">
            <div class="col-md-6">
              <section class="c">
                <div id="logo">
                  <figure class="front"></figure>
                  <figure class="back"></figure>
                  <figure class="right"></figure>
                  <figure class="left"></figure>
                  <figure class="top"></figure>
                  <figure class="bottom"></figure>
                </div>
              </section>

            </div>
            <div class="col-md-6 headline">
              April 26th - 27th, 2014 <br/>
              Hamburg
            </div>

          </div>
        </a>
      </header>
      <nav class="menu">
        <div class="text-center">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="http://jsunconf.eu">JS Unconf</a></li>
          </ul>
        </div>
      </nav>
      <div class="container content">
        <%- displayFlash(flash); %>
        <%- render(); %>
      </div>
      <footer class="footer">
        <div class="container">
          <ul class="hidden-xs pull-left">
            <li>made with &hearts; and Node.js</li>
          </ul>
          <ul class="pull-right">
            <li><%- linkTo('Imprint', imprintsPath) %></li>
            <li><%- linkTo('@jsunconf', 'http://twitter.com/jsunconf') %></li>
          </ul>
        <div>
      </footer>
    </div>

<%= partial('layout_footer'); %>
